.text__headline{
    padding: 15px;
    text-align: center;
    h3{
        font-weight: 700;
    }
}

.textbox__table {
    color: white;
    margin: 40px;
    padding: 50px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: rgb(30, 54, 82);

    .table {
        thead {
            tr {
                font-size: 20px;
                background-color: rgb(253, 245, 127);
            }
        }

        tbody {
            .casilla-color{
                background-color: rgb(253, 248, 173);
            }
            // td {
            //     background-color: rgb(253, 245, 127);
            // }
        }
    }
    .table__cases{
        text-align: center;
    }

    .table__statistic{
        text-align: center;
        padding: 25px;
    }
    .table__button-set {
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .table__button {
            margin: 8px;
            font-weight: 700;
            width: 300px;
            height: 50px;
            outline: 0;
            border: 1px solid #474747;
            border-radius: 10px;
        }
        .table__button--go{
            font-size: 20px;
            color: #ffffff;
            background-color: #05a396;
            cursor: pointer;
            transition:800ms ease all;
            }
            .table__button--go:hover{
            background:#077c72;
            color:#ffffff;
        }
        .table__button--clear{
            font-size: 20px;
            color: #ffffff;
            background-color: rgb(101, 123, 170);
            cursor: pointer;
            transition:800ms ease all;
            }
            .table__button--clear:hover{
            background:rgb(80, 95, 131);
            color:#ffffff;

        }
    }
}
