.user__comments--group{
    padding: 10px;
    margin: 35px;
    .row{
        .col{
            .card{
                background-color: rgb(200, 217, 228);
                h5{
                    font-weight: 700;
                }
                .comment__stars{
                    padding: 15px;
                    width: 150px;
                }
            }
        }
    }
}
