* {
  margin: 0;
  padding: 0;
}

/* IMPORTE DE PARTIALS */
@media (max-width: 480px) {
  .container-fluid header .nav {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: unset;
    align-items: center;
    text-align: center;
  }
  .container-fluid header .nav .nav-item .navigation__link {
    margin: 4px;
    font-size: 16px;
  }
  .container-fluid .title_h1 .h1 {
    font-size: 20px;
  }
  .container-fluid .banner {
    display: flex;
    flex-flow: row wrap;
    justify-content: column;
    align-content: center;
    align-items: unset;
    text-align: unset;
  }
  .container-fluid .banner .banner__image {
    width: 380px;
  }
  .container-fluid .textbox {
    margin: 15px;
    padding: 5px;
  }
  .container-fluid .textbox h2 {
    font-size: 20px;
  }
  .container-fluid .textbox .textbox__paragraph {
    font-size: 16px;
    margin: 10px;
  }
  .container-fluid .textbox .textbox__policy {
    padding: 15px;
    flex-direction: column;
  }
  .container-fluid .textbox .textbox__policy .h3 {
    font-size: 16px;
  }
  .container-fluid .footer .footer__info {
    padding-top: 10px;
  }
  .container-fluid .footer .footer__link,
  .container-fluid .footer .footer__paragraph {
    line-height: 25px;
  }
}
@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/Montserrat-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "montserrat";
  src: url(../assets/fonts/Montserrat-Regular.ttf);
  font-weight: 400;
}
.title_h1 {
  background-color: rgb(122, 122, 122);
  color: white;
  font-weight: 700;
  padding: 15px;
  text-align: center;
}
.title_h1 .h1 {
  margin: 0%;
  font-weight: 700;
  font-size: 30px;
}

.textbox {
  margin: 10px;
  height: auto;
  padding: 15px 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: unset;
  align-content: unset;
  align-items: center;
  text-align: center;
}
.textbox .textbox__title_h2 .h2 {
  font-weight: 700;
}
.textbox .textbox__paragraph {
  padding: 10px;
  margin: 10px 70px;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.textbox .textbox__location {
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: unset;
  text-align: unset;
}
.textbox .textbox__location .textbox__location--map {
  padding: 10px;
  margin: 10px;
}
.textbox .textbox__location .textbox__paragraph {
  @extent .textbox__location--map;
  text-align: start;
  font-size: 20px;
}
.textbox .textbox__location .textbox__location-text {
  flex-direction: column;
  align-items: center;
}
.textbox .textbox__policy {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: unset;
  align-items: unset;
  text-align: unset;
}
.textbox .textbox__policy .textbox__policy--box {
  width: 350px;
}
.textbox .textbox__policy .textbox__policy--box .h3 {
  font-size: 25px;
}
.textbox .textbox__policy .textbox__policy--box .textbox__paragraph {
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-size: 16px;
}
.textbox .list-group .list-group-item .h4 {
  font-weight: 700;
  font-size: 20px;
}

.formulario {
  outline: 0;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: rgb(30, 54, 82);
}
.formulario .form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: unset;
  align-items: center;
  text-align: unset;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 500px;
}
.formulario .form .form__item {
  padding: 5px;
  font-size: 20px;
  font-weight: 700;
}
.formulario .form .form__item .form__input {
  height: 38px;
  width: 400px;
  outline: 0;
  border: 1px solid #474747;
  border-radius: 10px;
}
.formulario .form .form__item .form__input--submit {
  font-size: 20px;
  font-weight: 700;
  width: 400px;
  height: 50px;
  outline: 0;
  border: 1px solid #474747;
  border-radius: 10px;
  color: #ffffff;
  background-color: #05a396;
  cursor: pointer;
  transition: 800ms ease all;
}
.formulario .form .form__item .form__input--submit:hover {
  background: #077c72;
  color: #ffffff;
}

.text__headline--warning {
  color: #ff002b;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}

.container-login {
  background: rgb(49, 50, 99);
  font-family: "montserrat";
  color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 600px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.intro__box {
  padding: 5px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro__box h1 {
  font-weight: 700;
}
.intro__box .intro__box--alert {
  font-weight: 700;
  font-size: 20px;
  color: #ff002b;
}

.login__box {
  background: rgb(255, 255, 255);
  width: 300px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 4px 10px 10px #706f6f;
  border-radius: 20px;
}
.login__box img {
  height: 100px;
}
.login__box .login__item {
  padding: 10px;
  margin: 10px;
}
.login__box .login__item--input {
  outline: 0;
  border: 1px solid #ccc;
  width: 80%;
}
.login__box .login__item--button {
  outline: 0;
  border: 1px solid #474747;
  width: 80%;
  border-radius: 10px;
}

.container-register {
  background: rgb(49, 50, 99);
  font-family: "montserrat";
  color: #ffffff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.register {
  height: 600px;
  width: 800px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.register__box {
  color: #474747;
  background: rgb(255, 255, 255);
  width: 650px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 10px 4px 10px 10px rgb(9, 9, 71);
  border-radius: 20px;
}
.register__box img {
  height: 100px;
}
.register__box .register__item {
  padding: 10px;
}
.register__box .register__item--input {
  padding: 5px;
  outline: 0;
  border: 1px solid #ccc;
  width: 80%;
  height: 35px;
}
.register__box .register__item--button {
  margin: 8px;
  font-weight: 700;
  border: 1px solid #474747;
  outline: 0;
  width: 80%;
  height: 50px;
  margin: 17px 0px 0px 0px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(101, 123, 170);
  cursor: pointer;
  transition: 800ms ease all;
}
.register__box .register__item--button:hover {
  background: rgb(80, 95, 131);
  color: #ffffff;
}
.register__box .register__login--button {
  margin: 8px;
  font-weight: 700;
  border: 1px solid #474747;
  outline: 0;
  width: 80%;
  height: 50px;
  margin: 17px 0px 0px 0px;
  border-radius: 10px;
  font-size: 20px;
  color: #ffffff;
  background-color: #05a396;
  cursor: pointer;
  transition: 800ms ease all;
}
.register__box .register__login--button:hover {
  background: #077c72;
  color: #ffffff;
}

.text__headline {
  padding: 15px;
  text-align: center;
}
.text__headline h3 {
  font-weight: 700;
}

.textbox__table {
  color: white;
  margin: 40px;
  padding: 50px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: rgb(30, 54, 82);
}
.textbox__table .table thead tr {
  font-size: 20px;
  background-color: rgb(253, 245, 127);
}
.textbox__table .table tbody .casilla-color {
  background-color: rgb(253, 248, 173);
}
.textbox__table .table__cases {
  text-align: center;
}
.textbox__table .table__statistic {
  text-align: center;
  padding: 25px;
}
.textbox__table .table__button-set {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.textbox__table .table__button-set .table__button {
  margin: 8px;
  font-weight: 700;
  width: 300px;
  height: 50px;
  outline: 0;
  border: 1px solid #474747;
  border-radius: 10px;
}
.textbox__table .table__button-set .table__button--go {
  font-size: 20px;
  color: #ffffff;
  background-color: #05a396;
  cursor: pointer;
  transition: 800ms ease all;
}
.textbox__table .table__button-set .table__button--go:hover {
  background: #077c72;
  color: #ffffff;
}
.textbox__table .table__button-set .table__button--clear {
  font-size: 20px;
  color: #ffffff;
  background-color: rgb(101, 123, 170);
  cursor: pointer;
  transition: 800ms ease all;
}
.textbox__table .table__button-set .table__button--clear:hover {
  background: rgb(80, 95, 131);
  color: #ffffff;
}

.user__comments--group {
  padding: 10px;
  margin: 35px;
}
.user__comments--group .row .col .card {
  background-color: rgb(200, 217, 228);
}
.user__comments--group .row .col .card h5 {
  font-weight: 700;
}
.user__comments--group .row .col .card .comment__stars {
  padding: 15px;
  width: 150px;
}

/* CONTAINER-FLUID DE BOOTSTRAP */
.container-fluid {
  font-family: "montserrat";
  color: #ffffff;
  overflow: auto;
  margin: 0;
  background-color: rgb(49, 50, 99);
}

header .nav {
  width: 100%;
  padding: 10px 30px;
  overflow: auto;
}
header .nav .navigation__link--logo {
  width: 450px;
  padding: 0 30px;
}
header .nav .navigation__link {
  margin: 15px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  text-decoration-line: none;
}
header .nav .navigation__link:hover {
  color: rgb(170, 170, 170);
}
header .nav .nav-logout .navigation__logout--button {
  font-weight: 700;
  font-size: 15px;
  width: 180px;
  height: 35px;
  padding: 0 30px;
  outline: 0;
  border: 1px solid #474747;
  border-radius: 10px;
  color: #46360c;
  background-color: #daa22c;
  cursor: pointer;
  transition: 800ms ease all;
}
header .nav .nav-logout .navigation__logout--button:hover {
  background: #af8323;
  color: #ffffff;
}

.listo {
  background-color: #00a364;
}

.banner {
  padding: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: unset;
  align-items: unset;
  text-align: unset;
}
.banner .banner__image {
  padding: 15px;
  width: 400px;
}

#footer {
  background-color: rgb(122, 122, 122);
  color: white;
  padding-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  align-items: unset;
  text-align: unset;
}
#footer .footer__info {
  padding-top: 20px;
  text-align: center;
}
#footer .footer__info .footer__headline {
  font-weight: 700;
  font-size: 22px;
  margin: 15px;
}
#footer .footer__info .footer__link,
#footer .footer__info .footer__paragraph {
  text-decoration-line: none;
  font-weight: 400;
  font-size: 18px;
  color: white;
  margin: 15px;
  line-height: 35px;
}
#footer .footer__info .footer__link:hover {
  color: rgb(63, 63, 63);
}
#footer .footer__info .footer__info--socialmedia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
#footer .footer__info .footer__info--socialmedia .footer__link--socialmedia .footer__link--icon {
  width: 50px;
  filter: invert(1);
}
#footer .footer__info .footer__info--socialmedia .footer__link--socialmedia .footer__link--icon:hover {
  filter: invert(0.3);
}/*# sourceMappingURL=main.style.css.map */