* {
    margin: 0;
    padding: 0;
}

/* IMPORTE DE PARTIALS */

@import "_mixins.scss","_responsive.scss", "_texts.scss", "_buttons-interactive.scss", "_register-login.scss", "_charts.scss", "_comment-cards.scss";

/* CONTAINER-FLUID DE BOOTSTRAP */

.container-fluid {
    font-family: 'montserrat';
    color: #ffffff;
    overflow: auto;
    margin: 0;
    background-color: rgb(49, 50, 99);
}

header {
    .nav {  
        width: 100%;
        padding: 10px 30px;
        overflow: auto;
        .navigation__link--logo {
            width: 450px;
            padding: 0 30px;
        }
        .navigation__link {
            margin: 15px;
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            text-decoration-line: none;
        }
        .navigation__link:hover {
            color: rgb(170, 170, 170);  
        }
        .nav-logout{
            .navigation__logout--button{
                font-weight: 700;
                font-size: 15px;
                width: 180px;
                height: 35px;
                padding: 0 30px;
                outline: 0;
                border: 1px solid #474747;
                border-radius: 10px;
                color: #46360c;
                background-color: #daa22c;
                cursor: pointer;
                transition:800ms ease all;
            }
            .navigation__logout--button:hover{
                background:#af8323;
                color:#ffffff;
            }
        }
    }
}

.listo{
    background-color: #00a364;
}

.banner {
    padding: 15px;
    @include flexible (flex, row wrap, center, unset, unset, unset);
    .banner__image {
        padding: 15px;
        width: 400px;
    }
}

#footer {
    background-color: rgb(122, 122, 122);
    color: white;
    padding-bottom: 20px;
    margin-top: 20px;
    @include flexible (flex, row wrap, space-evenly, flex-start, unset, unset);
    .footer__info {
        padding-top: 20px;
        text-align: center;
        .footer__headline {
            font-weight: 700;
            font-size: 22px;
            margin: 15px;
        }
        .footer__link,
        .footer__paragraph {
            text-decoration-line: none;
            font-weight: 400;
            font-size: 18px;
            color: white;
            margin: 15px;
            line-height: 35px;
        }
        .footer__link:hover {
            color: rgb(63, 63, 63);
             
        }
        .footer__info--socialmedia{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
            .footer__link--socialmedia{
              .footer__link--icon{
                width: 50px;
                filter: invert(1);
                }
              .footer__link--icon:hover {
                filter: invert(0.3);
                }
            }
        }
    }
}